@use 'scss/mixin/alignments' as alignments;

// 검색
.search {
  display: flex;
  gap: var(--spacing-8);
  padding-top: var(--spacing-8);

  &-btn {
    &-search {
      height: auto;
      padding: 0 var(--spacing-14);
      border-radius: 8px;
    }
  }
}
