@use 'scss/mixin/alignments' as alignments;

.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-cool-10-52);

  &-btn {
    flex-direction: column;
    @include alignments.positionAlign;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &-icon {
      display: block;
      width: 34px;
      height: 34px;
      margin: 0 auto var(--spacing-8);
    }
  }
}
