:root {
  --color-light-primary-normal: var(--color-blue-50);
  --color-light-primary-strong: var(--color-blue-45);
  --color-light-primary-heavy: var(--color-blue-40);
  --color-light-label-normal: var(--color-neutral-cool-10);
  --color-light-label-strong: var(--color-black);
  --color-light-label-neutral: var(--color-neutral-30-88);
  --color-light-label-alternative: var(--color-neutral-60-61);
  --color-light-label-assistive: var(--color-neutral-20-28);
  --color-light-label-disable: var(--color-neutral-22-16);
  --color-light-background-normal: var(--color-white);
  --color-light-background-normal-alternative: var(--color-neutral-cool-99);
  --color-light-background-elevated: var(--color-white);
  --color-light-background-elevated-alternative: var(--color-neutral-cool-99);
  --color-light-interaction-inactive: var(--color-neutral-cool-70);
  --color-light-interaction-disable: var(--color-neutral-cool-98);
  --color-light-line-normal: var(--color-neutral-cool-50-22);
  --color-light-line-normal-neutral: var(--color-neutral-cool-50-16);
  --color-light-line-normal-alternative: var(--color-neutral-cool-50-8);
  --color-light-line-solid-normal: var(--color-neutral-cool-96);
  --color-light-line-solid-neutral: var(--color-neutral-cool-97);
  --color-light-line-solid-alternative: var(--color-neutral-cool-98);
  --color-light-status-positive: var(--color-green-50);
  --color-light-status-cautionary: var(--color-orange-50);
  --color-light-status-negative: var(--color-red-50);
  --color-light-accent-lime: var(--color-lime-50);
  --color-light-accent-cyan: var(--color-cyan-50);
  --color-light-accent-blue-light: var(--color-blue-light-50);
  --color-light-accent-violet: var(--color-violet-50);
  --color-light-accent-purple: var(--color-purple-50);
  --color-light-accent-pink: var(--color-pink-50);
  --color-light-inverse-primary: var(--color-blue-60);
  --color-light-inverse-background: var(--color-neutral-15);
  --color-light-inverse-label: var(--color-neutral-cool-99);
  --color-light-component-fill-normal: var(--color-neutral-cool-50-8);
  --color-light-component-fill-strong: var(--color-neutral-cool-50-16);
  --color-light-component-fill-alternative: var(--color-neutral-cool-50-5);
  --color-light-component-material-dimmer: var(--color-neutral-cool-10-52);
}
