@use 'scss/mixin/alignments' as alignments;

.tf-comm {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 660px;

  &-inp {
    width: 100%;
    height: 40px;
    padding: 0 var(--spacing-40) 0 var(--spacing-22);
    border: 1px solid var(--color-light-line-normal);
    border-radius: 8px;

    &:focus {
      border-color: var(--color-light-inverse-primary);
      outline: 1px solid var(--color-light-inverse-primary);
    }
  }

  &-btn {
    &-reset {
      @include alignments.positionAlign(verticalCenter);
      right: 9px;
      width: 24px;
      height: 24px;
      padding: 0;
      border-radius: 50%;
      background-color: var(--color-neutral-cool-90);
    }
  }

  &-icon {
    &-reset {
      display: block;
      width: 18px;
      height: 18px;
      color: #fff;
    }
  }
}
